@import "tailwindcss";
@import "@fontsource/readex-pro";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #173039; /* Primary color */
  --color-primary-ai: #bda4a1;
  --color-primary-ai-light: #eee8e7;
  --color-primary-golden: #fcf8f0;
  --color-background: #ffffff; /* Example background */
  --color-foreground: #000000; /* Example foreground */
  --font-sans: var(
    --font-geist-sans,
    "Inter",
    sans-serif
  ); /* Fallback if Geist is undefined */
  --font-mono: var(--font-geist-mono, "Menlo", monospace); /* Fallback */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Readex Pro", sans-serif;
}

.custom_font_bold {
  font-family: "Readex Pro", sans-serif;
  font-weight: 700;
}
.custom_font {
  font-family: "Readex Pro", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide img {
  width: auto !important;
  border: none !important;
}

.swiper-slide {
  background-color: transparent !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #bda4a1 !important;
  font-size: 20px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.swiper-pagination-bullet-active {
  background-color: #bda4a1 !important;
}

element.style {
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 20px) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px !important;
}
